.container {
    align-items: center;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.task-container {
    border: 2px solid magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}