@use '../../../../src/index';

.task {
    align-items: center;
    background-color: index.$battleshipGray;
    border-radius: 50px;
    color: index.$blackOlive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
    min-width: 100%;
}

.task-content-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.delete-icon {
    height: 20px;
    width: 20px;
}

.svg-icon {
    height: 100%;
    width: 100%;
}

.task-text {
    margin-left: 5px;
}

.checked {
    color: index.$silver;
    text-decoration: line-through;
}

@media screen and (max-width: 783px) {
    .task {
        font-size: 15px;
    }
}